<a href="https://colab.research.google.com/github/KelvinLam05/personal_finance_tracker/blob/main/2019_income_%26_expenses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import the package**

In [1]:
# Importing library
import pandas as pd

**Load the data**

For the personal finance tracker Iâ€™ve used a [personal transaction dataset](https://www.kaggle.com/datasets/bukolafatunde/personal-finance) from Kaggle.

In [2]:
# Load dataset
df = pd.read_csv('/content/personal_transactions.csv')

In [3]:
# Examine the data
df.head()

,Date,Description,Amount,Transaction Type,Category,Account Name
0,01/01/2018,Amazon,11.11,debit,Shopping,Platinum Card
1,01/02/2018,Mortgage Payment,1247.44,debit,Mortgage & Rent,Checking
2,01/02/2018,Thai Restaurant,24.22,debit,Restaurants,Silver Card
3,01/03/2018,Credit Card Payment,2298.09,credit,Credit Card Payment,Platinum Card
4,01/04/2018,Netflix,11.76,debit,Movies & DVDs,Platinum Card

In [4]:
# Overview of all variables, their datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 806 entries, 0 to 805
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              806 non-null    object
 1   Description       806 non-null    object
 2   Amount            806 non-null    float64
 3   Transaction Type  806 non-null    object
 4   Category          806 non-null    object
 5   Account Name      806 non-null    object
dtypes: float64(1), object(5)
memory usage: 37.9+ KB

**Prepare the data**

In [5]:
# Convert the date to datetime64
df['Date'] = pd.to_datetime(df['Date'])

In [6]:
# Filter data for specific year (2019)
filtered_df = df.loc[df['Date'].dt.year == 2019]

In [ ]:
# Calculate the month for each date in our dataframe
filtered_df['Month'] = filtered_df['Date'].dt.strftime('%B')

In [ ]:
# Convert the column 'Amount' from float to string
filtered_df['Amount'] = filtered_df['Amount'].astype(str)

In [ ]:
# Change decimals to commas 
filtered_df['Amount'] = filtered_df['Amount'].str.replace('.', ',')

In [10]:
# Only include the relevant columns
filtered_df = filtered_df[['Date', 'Month', 'Category', 'Description', 'Amount']]

In [11]:
# View new dataframe
filtered_df.head()

          Date    Month             Category          Description  Amount
482 2019-01-01  January             Shopping               Amazon   13,09
483 2019-01-02  January  Credit Card Payment  Credit Card Payment   499,6
484 2019-01-03  January      Mortgage & Rent     Mortgage Payment  1100,0
485 2019-01-03  January             Shopping               Amazon    42,1
486 2019-01-04  January             Paycheck    Biweekly Paycheck  2000,0

In [12]:
# Convert dataframe to csv
filtered_df.to_csv('/content/2019_income_&_expenses.csv', index = None, header = True)